.food_item {
    position: absolute;
    margin: 10px;
}

#drop_area {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

body {
    background-image: url('../ray_images/rayFoodBG.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: fit;
}