.food_item {
    position: absolute;
    margin: 10px;
}

#drop_area {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#foodPage {
    background-image: url('../ray_images/rayFoodBG.png');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

#foodHeader {
    display: flex;
    flex-direction: row;
}

#foodContainer {
    height: 10rem;
    position: absolute;
    margin: 30% 100% 0% 0%;
}

