.rayStatus {
    position: absolute;
    left: 0;
    width: 36%;
    height: 20%;
    background-color: white;
    border-radius: 0px 0px 14px 14px;
}

.barIcon {
    position: absolute;
    margin-left: 3% !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    font-size: 5vh;
}

.barIcon > * {
    height: auto;
    width: auto;
    margin: 0 !important;
    margin-top: 1.4vh !important;
    color: #2e631c !important;
}

.statusBars > .progress {
    margin: 8% !important;
    margin-left: 18% !important;
}